<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use> <image href="" height="200" width="200" /></svg>
            </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#home" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#blogs" class="nav-link px-2 link-dark">Blogs</a></li>
            <li><a href="#features" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#members" class="nav-link px-2 link-dark">Members</a></li>
            <li><a href="#contact" class="nav-link px-2 link-dark">Contact Us</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <a href="/register"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
          </div>
        </header>
      </div>



      <div class="px-4 pt-5 my-5 text-center border-bottom" id="home">
        <h1 class="display-4 fw-bold">Blogging Platform</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Blogging is good for your career. A well-executed blog sets you apart as an expert in your field.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/register"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Get Started</button></a>
            <!-- <a href="sign.html"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button></a> -->
          </div>
        </div>
        
      </div>
<!-- Blog Section -->
<section id="blogs">
  <h1 style="margin-left: 80px;">Some Blogs</h1>

  <!-- Section One -->
  <div class="container px-4" style="margin-top: 30px;">
    <div class="row gx-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/b2p-header-craft-blog-book.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paper Crafts</h5>
            <p class="card-text">Although we love reading and know that books are for treasuring, there are also some amazing things you can create with those vintage tomes to be found in every thrift store across the land. Here’s some of our favourite ideas.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/blog-image01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shopping</h5>
            <p class="card-text">Having those needs met allows you to reach goals and have unique experiences, which is in turn another kind of satisfaction. Everyone likes having new things every now and again. </p>
          </div>
        </div>
      </div><div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/4682.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vacation</h5>
            <p class="card-text">“A vacation helps to relieve stress and boredom, gives us a change of scenery, provides us with adventure, and helps to bring us closer to the people in our lives</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="container px-4" style="margin-top: 30px;">
    <div class="row gx-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bliss On a Plate</h5>
            <p class="card-text">Well hello there my foodie friends! Today we’re talking food blogging! If blogging isn’t your cup of tea and your just here for food and the recipes, I promise I have some more deliciousness in store for you  soon</p>
          </div>
        </div>
      </div><div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/download.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Creating memories </h5>
            <p class="card-text">"If you can see it, you can shoot it" Beautiful photography has the right timing, the perfect color and many are bursting with creativity</p>
          </div>
        </div>
      </div><div class="col">
        <div class="card" style="width: 18rem;">
          <img src="images/film.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Show Time</h5>
            <p class="card-text">While you watch a film, do you thoughts change throughout? If you hate it at the start but grow to love it, or your opinion changes about a particular character, it could be entertaining to log your thought process</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      
      <!-- Features -->
    <section id="features">
      <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2 border-bottom">Features</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <h2>Easy to Use</h2>
            <p>While websites are mainly presentational, blogs are always intended to engage. A website is therefore static, as opposed to a blog that must be dynamic.</p>
          </div>
          <div class="feature col">
            <h2>Easy to Manage</h2>
            <p> Creating blogs are easy, Since the purpose of a blog is to be able to post new text or information to the site frequently,with our platform creating blog posts is usually quick and easy.
              Upload or delete blogs are Easy to Manage.</p>
            
          </div>
          <div class="feature col">
            <h2>Security</h2>
            <p>In Our platform your username and password will be secured and protected.You can access your blog from anywhere.And also our site is totally free of threats and spamming.</p>
          </div>
        </div>
      </div>

    </section>
      
      <!-- Team Members -->
      <h1 class="pb-2 border-bottom" id="members" style="margin-left: 80px; margin-top: 10px;">Team Members</h1>
      <div class="row"  style="margin: 20px; margin-left: 60px;margin-top: 50px; text-align: center;">
        <div class="col-lg-3">
          
          <img src="images/sayam.jpeg"style=" border-radius: 50%; width:150px;height: 150px ;" class="card-img-top" alt="...">

          <h2>Sayam Kumar</h2>
          <p>Full stack Developer</p>
        </div><div class="col-lg-3">
          <img src="images/soniya.jpeg"style=" border-radius: 50%; width:150px;height: 150px ;" class="card-img-top" alt="...">
          <h2>P.Soniya</h2>
          <p>UI/UX Designer</p>
        </div>
        <div class="col-lg-3">
          <img src= "images/jibbu.jpeg" style=" border-radius: 50%; width:150px;height: 150px ;" class="card-img-top" alt="...">

          <h2>Syed Jeburalla</h2>
          <p>Front-end Developer</p>
        </div>
        <div class="col-lg-3">
          
          <img src= "images/deepika.jpeg" style=" border-radius: 50%; width:150px;height: 150px ;" class="card-img-top" alt="...">

          <h2>S.Deepika</h2>
          <p>UI/UX Designer</p>
        </div><!-- /.col-lg-4 -->
      </div>

      <!-- Contact Us -->
      <section id="contact">
        <h1 class="pb-2 border-bottom" style="margin-left: 80px; margin-top: 50px;">Contact Us</h1>
        <div class="text-center">
          <a href="mailto:team8blogging@gmail.com"><button type="button" class="btn btn-primary text-center">Contact Us Here.</button></a> 
        </div>
        
      </section>
      

      <!-- Footer -->
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2022 Team 8, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#home" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#blogs" class="nav-link px-2 text-muted">Blogs</a></li>
            <li class="nav-item"><a href="#features" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#members" class="nav-link px-2 text-muted">Members</a></li>
          </ul>
        </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>